.recipe-list-item {
  list-style: none;
}

.recipe-list {
  padding: 0;
  display: flex;
  column-gap: 20px;
  border: 2px solid black;
  padding: 0px 0px;
  border-radius: 20px;

}

.recipe-instrucitons {
  list-style: none;
}

.recipe-headline {
  color: white;
}